.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    padding-bottom: 82px;
    gap: 30px;
  }
  
  .gallery li {
    list-style: none;
  }
  
  .gallery  li a {
    text-decoration: none;
  }
  
  .gallery__list {
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 370px;
    height: 404px;
  }
  
  .gallery__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .gallery__list img {
    width: 370px;
    height: 294px;
  }
  
  .gallery__list h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #212121;
    margin: 0;
  }
  
  .gallery__list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #757575;
    margin: 0;
    margin-top: 4px;
  }
  
  .gallery__box-info {
    position: relative;
    overflow: hidden;
  }
  
  .gallery__box-info p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 64px 24px;
  }
  
  .gallery__text {
    padding: 20px 24px;
  }
  
  .gallery__text-animate {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-delay: 0;
    transition-timing-function: linear;
  }
  
  .gallery__list:hover > .link > .gallery__box-info > .gallery__text-animate {
    transform: translateY(0%);
  }