.contact {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.1;
    padding: 0;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
  }
  
  .contact__list {
    list-style: none;
    gap: 9px;
    display: flex;
    align-items: center;
  }
  
  
  .contact__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #757575;
  }
  
  .contact__link:hover,
  .contact__icon:hover,
  .contact__link:focus,
  .contact__icon:focus {
    fill: #2196f3;
    color: #2196f3;
  }

  .contact__icon--t {
    width: 10px;
    height: 16px;
    fill: currentColor;
  }
  
  .contact__icon--c {
    width: 16px;
    height: 12px;
    fill: currentColor;
  }