.logo-page {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 900;
    line-height: 1.3;
    color: #2196f3;
    padding-top: 36px;
    padding-bottom: 32px;
  }