.team {
    background-color: #f5f4fa;
  }
  
  .team h2 {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 50px;
    padding-top: 94px;
  }
  
  .team__list {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    padding-bottom: 60px;
  }
  
  .team__person {
    width: 270px;
    background-color: #fff;
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
  }
  
  .team__person img {
    width: 100vw;
  }
  
  .team__person h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: #212121;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  
  .team__person p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
  }

  .team__link {
    background-color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    fill: #afb1b8;
    cursor: pointer;
  }
  
  .team__list-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    gap: 10px;
    padding-bottom: 30px;
  }
  
  .team__icon {
    width: 20px;
    height: 20px;
  
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .team__link:hover,
  .team__link:focus {
    background: #2196f3;
    fill: #fff;
  }